<div class="header">
  <h1>Flight Search</h1>
</div>

<form #flightSearchForm="ngForm">
  <div class="form-group">
    <label>From (*)</label>
    <input
      autocomplete="false"
      name="from"
      class="form-control"
      tabindex="2"
      [ngModelOptions]="{ updateOn: 'change' }"
      [minlength]="minLength"
      [maxlength]="maxLength"
      [pattern]="pattern"
      [(ngModel)]="from"
    />
    @if (flightSearchForm.controls['from']) {
      <app-flight-validation-errors [errors]="flightSearchForm.controls['from'].errors" fieldLabel="From" />
    }
  </div>
  <div class="form-group">
    <label>To (*)</label>
    <input
      name="to"
      class="form-control"
      tabindex="1"
      [minlength]="minLength"
      [maxlength]="maxLength"
      [pattern]="pattern"
      [(ngModel)]="to"
    />
    @if (flightSearchForm.controls['to']) {
      <app-flight-validation-errors [errors]="flightSearchForm.controls['to'].errors" fieldLabel="To" />
    }
  </div>
  <div class="form-group">
    <button
      type="button"
      class="btn btn-default"
      [disabled]="!to || !from || flightSearchForm.invalid || flightSearchForm.pending"
      (click)="onSearch()"
    >
      Search
    </button>
    @if (flights.length > 0) {
      <button type="button" class="btn btn-default" style="margin-left: 10px" (click)="onDelayFirstFlight()">
        Delay 1st Flight
      </button>
    }
  </div>
</form>

<div class="container">
  <div class="row">
    @for (flight of flights; track flight) {
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <app-flight-card [item]="flight" [(selected)]="basket[flight.id]" (edit)="onEdit(flight.id)">
          <app-flight-status-toggle style="margin-left: 10px" [(status)]="flight.delayed" />
        </app-flight-card>
      </div>
    } @empty {
      No flights found.
    }
  </div>
</div>
