<div class="header">
  <h1>Flight Search</h1>
</div>

<form #flightSearchForm="ngForm">
  <div class="form-group">
    <label for="fromAirport">From (*)</label>

    @let hasFromErrors =
      flightSearchForm.controls['from'] &&
      flightSearchForm.controls['from'].dirty &&
      flightSearchForm.controls['from'].errors;

    <input
      autocomplete="false"
      type="text"
      name="from"
      class="form-control"
      id="fromAirport"
      [ngModelOptions]="{ updateOn: 'change' }"
      required
      [minlength]="minLength"
      [maxlength]="maxLength"
      [pattern]="pattern"
      [attr.aria-invalid]="!!hasFromErrors"
      [attr.aria-describedby]="hasFromErrors ? 'fromErrors' : null"
      [(ngModel)]="from" />
    @if (hasFromErrors) {
      <app-flight-validation-errors
        id="fromErrors"
        fieldLabel="From"
        [errors]="flightSearchForm.controls['from'].errors" />
    }
  </div>
  <div class="form-group">
    <label for="toAirport">To (*)</label>

    @let hasToErrors =
      flightSearchForm.controls['to'] &&
      flightSearchForm.controls['to'].dirty &&
      flightSearchForm.controls['to'].errors;

    <input
      type="text"
      name="to"
      class="form-control"
      id="toAirport"
      required
      [minlength]="minLength"
      [maxlength]="maxLength"
      [pattern]="pattern"
      [(ngModel)]="to"
      [attr.aria-invalid]="!!hasToErrors"
      [attr.aria-describedby]="hasToErrors ? 'toErrors' : null" />
    @if (hasToErrors) {
      <app-flight-validation-errors id="toErrors" fieldLabel="To" [errors]="flightSearchForm.controls['to'].errors" />
    }
  </div>

  <div class="form-group">
    <label for="tripNative">Trip (native select)</label>

    <select class="form-control form-select" id="tripNative" name="tripNative" [(ngModel)]="trip">
      <option selected="" disabled="" value="">Select a trip</option>
      @for (trip of trips; track trip.value) {
        <option [value]="trip.value">{{ trip.label }}</option>
      }
    </select>
  </div>

  <div class="form-group">
    <label for="tripAngular">Trip (Angular ARIA select)</label>

    <div class="angular-select" ngCombobox readonly>
      <div #origin class="select">
        <span class="combobox-label">
          <span class="selected-label-text">{{ displayTrip() }}</span>
        </span>
        <input
          aria-label="Label dropdown"
          id="tripAngular"
          name="tripAngular"
          placeholder="Select a label"
          ngComboboxInput
          [(ngModel)]="trip" />
        <span class="example-arrow material-symbols-outlined" translate="no">arrow_drop_down</span>
      </div>

      <ng-template ngComboboxPopupContainer>
        <ng-template
          [cdkConnectedOverlay]="{ origin, usePopover: 'inline', matchWidth: true }"
          [cdkConnectedOverlayOpen]="true">
          <div class="example-popup-container">
            <div ngListbox [multi]="false" (valuesChange)="trip.set($event[0])">
              @for (trip of trips; track trip.value) {
                <div ngOption [value]="trip.value" [label]="trip.label">
                  <span class="example-option-text">{{ trip.label }}</span>
                  <span class="example-option-check material-symbols-outlined" translate="no">check</span>
                </div>
              }
            </div>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>

  <div>
    Trip value:
    <pre>{{ trip() | json }}</pre>
  </div>

  <div class="form-group">
    <button
      type="submit"
      class="btn btn-default btn-spacing"
      [disabled]="flightSearchForm.pending"
      (click)="onSearch()">
      Search
    </button>
    <button type="reset" class="btn btn-default" [disabled]="flightSearchForm.pending" (click)="onReset()">
      Reset
    </button>
    @if (oldSchoolFlights.length > 0) {
      <button type="button" class="btn btn-default" (click)="onDelayFirstFlight()">Delay 1st Flight</button>
    }
  </div>
</form>

<div class="container">
  <h2 class="title">Old School Flights</h2>
  <div class="row">
    @for (flight of oldSchoolFlights; track flight.id) {
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <app-flight-card [item]="flight" [selected]="basket[flight.id]">
          <button type="button" class="btn btn-default btn-spacing" (click)="basket[flight.id] = !basket[flight.id]">
            {{ basket[flight.id] ? 'Rem.' : 'Add' }}
          </button>

          <a
            class="btn btn-default btn-spacing"
            [routerLink]="['/flights/flight-edit', flight.id, { showDetails: true }]">
            Edit
          </a>

          <app-flight-status-toggle [(status)]="flight.delayed" />
        </app-flight-card>
      </div>
    } @empty {
      No flights found.
    }
  </div>
</div>

<div class="container">
  <h2 class="title">Flights with Async Pipe</h2>
  <div class="row">
    @for (flight of flightsSubject | async; track flight.id) {
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <app-flight-card [item]="flight" [selected]="basket[flight.id]">
          <button type="button" class="btn btn-default btn-spacing" (click)="basket[flight.id] = !basket[flight.id]">
            {{ basket[flight.id] ? 'Rem.' : 'Add' }}
          </button>

          <a
            class="btn btn-default btn-spacing"
            [routerLink]="['/flights/flight-edit', flight.id, { showDetails: true }]">
            Edit
          </a>

          <app-flight-status-toggle [(status)]="flight.delayed" />
        </app-flight-card>
      </div>
    } @empty {
      No async flights found.
    }
  </div>
</div>

<div class="container">
  <h2 class="title">Flights with Signal</h2>
  <div class="row">
    @for (flight of flights(); track flight.id) {
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <app-flight-card [item]="flight" [selected]="basket[flight.id]">
          <button type="button" class="btn btn-default btn-spacing" (click)="basket[flight.id] = !basket[flight.id]">
            {{ basket[flight.id] ? 'Rem.' : 'Add' }}
          </button>

          <a
            class="btn btn-default btn-spacing"
            [routerLink]="['/flights/flight-edit', flight.id, { showDetails: true }]">
            Edit
          </a>

          <app-flight-status-toggle [(status)]="flight.delayed" />
        </app-flight-card>
      </div>
    } @empty {
      No signal flights found.
    }
  </div>
</div>

<pre>{{ basket | json }}</pre>

{{ blinkFirstChild() }}
