@import url('https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined');

label {
  color: brown;
}

input:focus,
select:focus,
.angular-select:focus,
[ngCombobox]:focus-within .select {
  outline: peru solid 2px !important;
}

.active {
  background-color: orange !important;
}

.btn-spacing {
  margin-right: 10px;
}

.angular-select {
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 4px;
  color: #66615b;
}

.select {
  display: flex;
  position: relative;
  align-items: center;
  color: color-mix(in srgb, var(--hot-pink) 90%, var(--primary-contrast));
  background-color: color-mix(in srgb, var(--hot-pink) 5%, transparent);
  border-radius: 4px;
  border: 1px solid color-mix(in srgb, var(--hot-pink) 80%, transparent);
}
.select:hover {
  background-color: color-mix(in srgb, var(--hot-pink) 15%, transparent);
}
.select:has([ngComboboxInput][aria-disabled='true']) {
  opacity: 0.6;
  cursor: default;
}
/*.selected-label-icon {
  font-size: 1.25rem;
}*/
[ngComboboxInput] {
  width: 100%;
  opacity: 0;
  cursor: pointer;
  padding: 0 3rem;
  height: 2.5rem;
  border: none;
}
/*[ngCombobox]:focus-within .select {
  outline: 2px solid color-mix(in srgb, var(--hot-pink) 50%, transparent);
}*/
.combobox-label {
  gap: 1rem;
  left: 1rem;
  display: flex;
  position: absolute;
  align-items: center;
  pointer-events: none;
}
.example-arrow {
  right: 1rem;
  position: absolute;
  pointer-events: none;
  transition: transform 150ms ease-in-out;
}
[ngComboboxInput][aria-expanded='true'] ~ .example-arrow {
  transform: rotate(180deg);
}
.example-popup-container {
  width: 100%;
  padding: 0.5rem;
  //margin-top: 8px;
  border-radius: 4px;
  background-color: var(--septenary-contrast);
  font-size: 0.9rem;
  max-height: 11rem;
  opacity: 1;
  visibility: visible;
  transition:
    max-height 150ms ease-out,
    visibility 0s,
    opacity 25ms ease-out;
}
[ngListbox] {
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 4px;
  color: #66615b;

  gap: 2px;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-direction: column;
}
[ngCombobox]:has([ngComboboxInput][aria-expanded='false']) .example-popup-container {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition:
    max-height 150ms ease-in,
    visibility 0s 150ms,
    opacity 150ms ease-in;
}
[ngCombobox]:has([ngComboboxInput][aria-expanded='true']) [ngListbox] {
  display: flex;
}
[ngOption] {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin: 1px;
  padding: 0 1rem;
  min-height: 2.25rem;
  border-radius: 4px;
}
[ngOption]:hover {
  background-color: orange;
}
[ngOption][data-active='true'] {
  outline-offset: -2px;
  outline: 2px solid orange;
}
[ngOption][aria-selected='true'] {
  color: var(--hot-pink);
  background-color: orange;
}
/*.example-option-icon {
  font-size: 1.25rem;
  padding-right: 1rem;
}*/
[ngOption]:not([aria-selected='true']) .example-option-check {
  display: none;
}
.example-option-icon,
.example-option-check {
  font-size: 0.9rem;
}
.example-option-text {
  flex: 1;
}
