<!-- Skip Link -->
<button class="skip-link" type="button" (click)="onSkipToMainContent()">Skip to main content</button>

<nav aria-label="sidebar including main navigation" class="sidebar-wrapper">
  <div class="logo">
    <a routerLink="/home">
      <span class="simple-text logo-mini logo-image-small">
        <img ngSrc="/angular_gradient_68x68.png" width="34" height="34" alt="NG a11y Home" />
      </span>

      <span class="simple-text logo-normal">NG a11y</span>
    </a>
  </div>

  <ul class="nav">
    <li routerLinkActive="active" ariaCurrentWhenActive="page">
      <a routerLink="/home">
        <p>Home</p>
      </a>
    </li>

    <li routerLinkActive="active" ariaCurrentWhenActive="page">
      <a routerLink="/flights/flight-search">
        <p>Flights</p>
      </a>
    </li>

    <li routerLinkActive="active" ariaCurrentWhenActive="page">
      <a routerLink="/charts">
        <p>Charts</p>
      </a>
    </li>
  </ul>
</nav>

{{ blink() }}
